<main class="details-display">
        <section id="card" class="cards">
            <div class="numbers">
              <div class="display">
                <img src="../public/image/home2.jpg" alt="" width="100%" height="500px">
                <div class="display-content">
                  <div class="display-title">
                    <span>Pius_King Interior</span>
                    <a href="./details-page.html"><i class="fa fa-ellipsis-h" aria-hidden="true" title="view"></i></a>
                  </div>
                  <span id="interval">2 Week ago</h3>
                </div>
              </div>
            </div>
            <div class="bodys">
              <!-- <ul id="tag">
                <li>#lovely</li>
                <li>#builtiful</li>
              </ul> -->
              <h3 id="title">Category</h3>
              <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum unde magni enim.</p>
              <!-- <p id="like">I will display &#8364; <button id="like-btn">Like</button> <span id="like-count">0</span> Likes</p> -->
            </div>
          </div>
          <section>
              <form class="comment-form">
                  <textarea class="comment-input" placeholder="Write a comment"></textarea>
                  <button type="submit" class="comment-btn">Submit</button>
              </form>
          </section>
        </section>
    </main>
